<h4 align="left">「评论」：</h4>    
<div id="comments"></div>
    <script src="{{site.baseurl}}/assets/js/Valine.min.js"></script>
    <script>
         new Valine({
            el: '#comments',
            app_id: '{{ site.valine.appid }}',
            app_key: '{{ site.valine.appkey }}',
            serverURLs: '{{ site.serverURLs.avatar }}',
            avatar: '{{ site.valine.avatar }}',
            placeholder: '{{ site.valine.placeholder }}',
            recordIP: 'true',
            enableQQ: 'true',
        })
    </script>
